spring:
  application:
    name: bookfair-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/book_fair
    username: bookuser
    password: bookpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1

  mail:
    host: smtp.gmail.com
    port: 587
    username: farhadfd08@gmail.com
    password: wljo fwql bxqx oaoy
    from: no-reply@bookfair.lk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

security:
  jwt:
    secret: c2VjdXJlLXNlY3JldC1rZXktcGxlYXNlLXJlcGxhY2Utd2l0aC1vd24=
    expiration-minutes: 120

server:
  port: 8080

logging:
  level:
    com.bookfair: INFO
